.homepage-stuff{
    margin: 25px 0;
}

.inspiration-container{
    display: flex;
    justify-content: space-between;
}

// .inspiration-image{
//     flex-basis: 15%;
// }

.homepage-text{
    font-size: 42px;
    font-weight: bolder;
    padding-bottom: 5px;
}

.individual-inspiration-container{
    margin-right: 5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 19vw;
}

.inspiration-container li:last-child{
    color: yellow;
    // margin-left: 5px;
}

.inspiration-text{
    height: 213px;
    width: 320px;

    color: white;
}

.individual-inspiration-container p{
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
}

.inspiration-text p:last-child{
    font-size: 20px;
}

.inspiration1{
    background-color: #D93B30;
}
.inspiration2{
    background-color: #D33151;
}
.inspiration3{
    background-color: #BC1A6E;
}
.inspiration4{
    background-color: #CC2D4A;
}

.questions-container{
    position: relative;
    overflow: hidden;
}

.questions-container img{
    width: 100%;
    margin-top: 15px;
}

.questions-container p{
    position: absolute;
    // width: 300px;
    display: flex;
    top: 10%;
    left: 5%;
    font-size: 95px;
    font-weight: bolder;
    color: white;
    
}

.questions-container button{
    position: absolute;
    // margin: 35% 0 0 5%;
    border-radius: 15px;
    padding: 14px 20px;
    font-weight: bolder;
    bottom: 5%;
    left: 5%;
    // max-height:5%;
    // max-width:10%;
}





.temp{
    position: absolute;
    margin: 50px;
    padding: 20px;
}