// Place all the styles related to the api/listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing-form{
    position: relative;
    // top: 10vh;
    // left: 35vw;
    display: flex;
    width: 45vw;
    flex-direction: column;
    background-color: pink;
    padding: 10px;
}

#listing-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-form > * {
    margin: 5px;
    max-width: 100%;
    // max-height:100%; max-width:100%;
}

.listing-form{
    font-size:20px;
}

.listing-form label > * {
    font-size: 20px;
    color:blue;
    // background-color: #0bda51;
    border-radius: 5px;
    border: 0px;
    resize: none;
    margin-top: 5px;
    padding: 3px;
}

.listings-index-container{
    display: flex;
}
.listing-form label{
    display: flex;
    flex-direction: column;
}

.listings-index-items-container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    
}

.listings-index-text-container{
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.listings-index-text-container p {
    margin: 5px 0 0 0;
    // color: blue;
}

.listing-index-item{
    border-top: 1px solid rgb(211, 211, 211);
    margin: 0 20px 0 20px;
    padding: 20px 0 20px 0;
    display: flex;
}

.listings-index-items-container > p:first-child{
    color: purple;
    margin: 0 20px 0 20px;
    padding: 20px 0 20px 0;
}

.listing-index-item img{
    width: 50%;
    height:100%;
}

.item-details{
    display: flex;
}

.title{
    font-weight: bolder;
    font-size:20px;
}
//350x180
.price{
    display: flex;
    position: absolute;
    right: 1vw;
    bottom: 3vh;

}

.reviews{
    display: flex;
    position: absolute;
    left: 1vw;
    bottom: 3vh;

}

.separator{
    width:10%;
    text-align: left;
    margin-left:0;
}

.preview-container{
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;

}

.individual-preview-photo{
    flex-basis:30%;
    // justify-content: space-between;
    display: relative;
    margin: 3px;
}

.remove-photo{
    position: absolute;
    color: yellow;
    margin:0;
    right: 0;
    top:0;
}

.preview-photos{
    max-width: 100%;
    max-height: 100%;
    width:100%;
    height:100%;
}

.small-input-field{
    border: 0px;
    border-radius:5px;
}

.some-labels{
    max-width: 50%;
}

.listing-number-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // align-items: center;
}

.listing-images{
    width: 50vw;
    height: 100vw;
}

.upload-images input[type="file"] {
    display: none;
}

.upload-images{
    background-color: #ffb6c1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    // color: gray;
    width: 10vw;
    font-size: 2vmin;
}

.upload-images:hover{
    background-color: #ff8a9e;
    // box-shadow: 10px 10px #ffccd5;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}