.listing-form{
    font-size:20px;
    display: flex;
    width: 45vw;
    flex-direction: column;
    background-color: #EAEFF4;
    padding: 25px 50px;
    border-radius: 15px;
    margin: 20px;
}

#listing-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-form > * {
    margin: 5px;
    max-width: 100%;
}

.listing-form label > * {
    font-size: 20px;
    border-radius: 15px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    resize: none;
    margin: 10px 10px 10px 0;
    padding-right: 3px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 30%);
}

.listing-form input[type='submit']{
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
    color: #4A5568;
}

.listing-form input:focus,
.listing-form textarea:focus{
    border: 5px solid #ffffff;
    outline: none;
    transition: all 0.5s;
}

.listing-form input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 1);
    transition: all 0.4s;
}

.upload-images:hover {
    background-color: #eaeff4;
    border: 2px solid rgba(255, 255, 255, 1);
    transition: all 0.4s;
}

.listings-index-container{
    display: flex;
}

.listings-index-container > :first-child{
    flex: 5;
}
.listings-index-container > :last-child{
    flex: 6;
}

.listing-form label{
    display: flex;
    flex-direction: column;
}

.listings-index-items-container{
    width: 50vw;
    display: flex;
    flex-direction: column;
    
}

.listings-index-text-container{
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 10px;
    overflow: hidden;
    position: relative;
    width: 50%;
    justify-content: space-evenly;
}

.listings-index-text-container > * {
    margin: 10px 0 0 0;
}

.listings-index-text-container > div:last-child{
    display: flex;
}

.listing-index-item{
    margin: 0 20px 0 20px;
    padding: 20px 5px;
    display: flex;
    min-width: 600px;
    border-radius: 15px;
}

.listings-index-items-container > p:first-child{
    margin: 0 20px 0 20px;
    padding: 20px 0 20px 0;
}

.item-details{
    display: flex;
}

.title{
    font-weight: bolder;
    font-size:20px;
}

.price, .reviews{
    display: flex;
    flex: 1;
    right: 0;
    bottom: 0;
}

.reviews{
    left: 0;
    flex: 2;
}

.separator{
    width:10%;
    text-align: left;
    margin-left:0;
}

.preview-container{
    display: flex;
    flex-wrap: wrap;

}

.individual-preview-photo{
    display: flex;
    flex-basis:30%;
    margin: 3px;
    cursor: pointer;
    height: 15vh;
}

.trash-btn{
    display: absolute;
    right: 0;
    bottom: 0;
}

.remove-photo{
    position: absolute;
    color: yellow;
    margin:0;
    right: 0;
    top:0;
}

.preview-photos{
    max-width: 100%;
    max-height: 100%;
    width:100%;
    height:100%;
}

.small-input-field{
    border: 0px;
    border-radius:5px;
}

.some-labels{
    margin: 5px 0;
}

.listing-number-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.listing-number-container > *{
    flex: 40%;
}

.listing-images{
    width: 300px;
    max-width: 40%;
    height: 100%;
}

.upload-images input[type="file"] {
    display: none;
}

.upload-images{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    flex-direction: column;
    color: #4A5568;
    border: 2px solid gray;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: bold;
    width: 110px;
}

.ten-vw{
    width: 10vw;
}

.error-message{
    color: red;
}