.session-modal {
    display: flex;
    font-family: arial;
    outline: solid 1px black;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: fixed;
    left: 42%;
    top: 5%;
    background-color: white;
    border-radius: 15px;
    color: black;
  }

label {
    display: flex;
}

.session-btn {
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        border-radius: 8px;
        padding: 14px 24px;
        border: none;
        transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
        background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
        color: #fff;
        margin: 4px 2px;
  }


.session-container{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.session-modal-container{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2)
}

.unhide{
    display: flex;
}

.hide{
    display: none;
}

.session-modal-header h2{
    font-weight: bolder;
}

.session-formType{
    font-size: 16px;
}

.session-formWelcome{
    font-size: 22px;
    margin: 20px 0 20px 0;
    display: relative;
}

.session-formType-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.close-session{
    display: none;
    right: 0;
    top: 0;
}