.new-booking-form{
    width: 30vw;
    box-shadow: rgba(100, 100, 111, .8) 0px 7px 29px 0px;
    border: solid rgb(221,221,221) 1px;
    border-radius: 15px;
    padding: 20px;
}

.new-booking-inputs{
    // border: black solid 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

input[type="date"]{
    border: none;
    border-top-left-radius: 10px;
    padding:0;
    margin: 0;
    word-break: break-all;
}

.date-input{
    display: flex;
}

.date-input:focus{
    // border: black solid 1px;
    color: yellow;
}

.booking-input{
    padding: 3px;
}

.check-in-input{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 8px;
    width: 50%;
}
.check-out-input{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 8px;
    width: 50%;
}
.num-guests-input{
    border: solid 1px black;
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px ;
}

.num-guests-input input[type="number"]{
    border: none;
    width: 95%;
    padding: 3px;
}

.listing-show-container{
    display: flex;
    padding: 3vh 0;
}

.listing-show-container > div:first-child{
    flex: 60;
}

.listing-show-container > div:last-child{
    flex: 40;
    position: relative;
}

