@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.new-booking-form{
    width: 30vw;
    box-shadow: rgba(100, 100, 111, .8) 0px 7px 29px 0px;
    border: solid rgb(221,221,221) 1px;
    border-radius: 15px;
    padding: 20px;
    min-width: 300px;
    max-height: 200px;
    position: relative;
}

.new-booking-form > div:first-child{
    padding: 5% 0;
    border: 1px solid black;
}

.new-booking-inputs{
    // border: black solid 1px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 5% 0;
}

.booking-input input[type="date"]{
    border: none;
    // border-top-left-radius: 10px;
    padding:0;
    margin: 0;
    word-break: break-all;
}

.date-input{
    display: flex;
}

.date-input:focus{
    // border: black solid 1px;
    color: yellow;
}

.booking-input{
    padding: 3px;
}

.check-in-input{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 8px;
    width: 50%;
}
.check-out-input{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-top-right-radius: 8px;
    width: 50%;
}
.num-guests-input{
    border: solid 1px black;
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px ;
}

.num-guests-input input[type="number"]{
    border: none;
    width: auto;
    padding: 3px;
}

.listing-show-container{
    display: flex;
    padding: 3vh 0;
    flex-wrap: wrap;
}

.listing-show-container > div:first-child{
    flex: 60;
}

.listing-show-container > div:last-child{
    flex: 40;
    position: relative;
}

.booking-costs-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

b{
    font-weight: 700;
}

.listing-info{
    display: flex;
    flex-direction: column;
}

.listing-info > div {
    display: flex;
}

.listing-info > div img{
    display: flex;
    height: 5vh;
    border-radius: 0;
}

.placeholder-info-text{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.placeholder-info-wrap{
    display: flex;
    padding: 1vh 0;
    align-items: center;
}

.reserve-btn{
    width: 100%;
}