.footer {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    padding: 15px 15px 0 0;
}

.footer-label{
    font-size: 20px;
    font-weight: 900;
    // font-weight: bolder;
}

.real-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    // border-top: .5px solid gray;
    padding: 15px 0;
    // border-top: 1px solid black;
}

.main-footer{
    display: block;
    background-color: #F7F7F7;
}

.footer-item{
    padding: 3px;
}