.footer {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin: 0 10vw;
    border-top: 1px solid #b7b7b7;
}

.footer-label{
    font-size: 20px;
    font-weight: 900;
}

.real-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.main-footer{
    display: block;
    background-color: #F7F7F7;
}

.footer-item{
    padding: 3px;
}