.top-right-menu{
    position: absolute;
    right: 10vw;
    top: 70px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    width: 100px;
}

.top-right-menu li {
    padding: 10px;
    cursor: pointer;
    border-radius: inherit;
}
.top-right-menu li:hover{
    background-color:#f3f3f3;
}

.menu-button{
    cursor: pointer;
}

.menu-icon-item {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

.logout-btn{
    cursor: pointer;
}

.show{
    display: inline-block;
}