.top-right-menu{
    display: inline-block;
    position: absolute;
    right: 200px;
    top: 50px;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    padding: 5px 3px;
}