// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top-half{
  background-color: black;
  color: white;
}

.background{
  width: 100%;
}

#top-nav{
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  align-items: center;
  padding: 10px 10vw 10px 10vw;
  z-index: 3;
}

#top-nav.scrolled{
  background-color: yellow !important;
  transition: background-color 200ms linear;
}

#right-nav{
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 25px;
  height: 30px;
}

#right-nav img {
  border-radius: 50%;
  padding-left: 5px;
}


#airbnblogo{
  width: 3vw;
  height: 50px;
}