// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top-half{
  background-color: black;
  color: white;
}
// .topnav {
//   overflow: hidden;
//   background-color: #333;
// }

// .topnav a {
//   float: left;
//   color: #f2f2f2;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
//   font-size: 17px;
// }

#topnav a:hover {
  // background-color: yellow;
  // color: yellow;
}

// .topnav a.active {
//   background-color: #04AA6D;
//   color: white;
// }

// .topnav-right {
//   float: right;
// }

.session-modal {
  display: flex;
  font-family: arial;
  // margin: 25px 30%;
  outline: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  left: 42%;
  top: 5%;
  background-color: white;
  border-radius: 15px;
  color: black;
}

label {
  display: flex;
}

.session-btn {
  background-color: #DC0F63;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

img{
  width: 100%;
}

#top-nav{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  align-items: center;
  padding-bottom: 8px;
}

#airbnblogo{
  width: 5%;
  height: 5%;
  margin-right: 8px;
}