/* LISTINGS CSS */
.my-listings{
    border: 1px black solid;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hi{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.my-listing-item{
    border: 1px solid blue;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.one-reservation{
    border: solid red 1px;
}

.my-listing-item img {
    width: 40vw;
}

.my-listing-item p {
    flex-wrap: wrap;
}

/* BOOKINGS CSS */

.my-bookings{
    border: 1px black solid;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.my-booking-item{
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-link{
    text-decoration: underline;
}