.review-form {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.review-form textarea {
    width: 40vw;
    border-color:rgb(221, 221, 221);
    margin-bottom: 10px;
}

.review-form svg{
    cursor: pointer;
    color: #C8C8C8;
}

.special-star{
    color: #DC0E63;
}

.reviews-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: column; */
}

.reviews-index > div {
    width: 35vw;
}

.review-container > button {
    margin: 10px 10px 10px 0;
}

.review-container > div:first-child{
    display: flex;
}

.review-container > * {
    padding-top: 10px;
}

.line-container{
    flex: 5;
    height: 15px;
    position: relative;
}

.review-index-info{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.line{
    background-color: rgb(221, 221, 221);
    height: 10px;
    top: 0;
    border-radius: 50px;
    /* border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px; */
}

.line1{
    width: 100%;
    position: absolute;
}
.line2{
    position: absolute;
    /* width: 40%; */
    background-color: rgb(34, 34, 34);
    z-index: 2;
}

.review-avg-container{
    display: flex;
    margin: 1vh 0 2vh 0;
    /* flex-direction: column; */
}

.review-avg{
    display: flex;
    width: 100%;
}

.review-avg > :nth-child(1){
    flex: 2;
}

.review-avg > :nth-child(2){
    flex: 3;
}

.review-avg > :nth-child(3){
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
}

.review-half{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hidden{
    display: none;
}

.fancy-btn{
    background-color: #7986CB;
    color: white;
    border-radius: 15px;
    border: #7987cbb7 solid 1px;
    padding: 8px 15px;
    margin-top: 10px;
    max-width: 40vw;
    font-size: 16px;
    transition-duration: .5s;
}

.cancel-btn{
    background-color: #dc143c;
}

.fancy-btn:hover{
    opacity: .8;
    transform: scale(1.05);
    transition-duration: .5s;
}

.review-label{
    display: flex;
}

.review-label > :first-child{
    flex: 1;
}
.review-label > :last-child{
    flex: 1;
}