.flex-form {
    display: flex;
    height: 50px;
    border-radius: 100px;
}

.flex-form:hover{
    box-shadow:  0 6px 5px rgba(221,221,221, .5);
}

.search-bar-container{
    border-radius: 50%;
}

.flex-form * {
    border: none;
    padding: 10px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 0;
    background: #fff;
}

.flex-form a {
    height: 30px;
    border-radius: inherit;
}

.flex-form input[type=submit] {
    /* background-color: inherit; */
    background-color: blue;
    border: none;
    border-radius: 50%;
}

.flex-form > div{
    display: flex;
    align-items: center;
    justify-content: center;

}

.flex-form div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius:100px;
    border-bottom-right-radius:100px;
    width: 40px;
}

.flex-form > input:first-child{
    border-top-left-radius:100px;
    border-bottom-left-radius:100px;
}

.flex-form svg {
    background-color: #f05;
    color: white;
    padding: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.flex-form svg:hover{
    cursor: pointer;
}

.flex-form input::-webkit-outer-spin-button,
.flex-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex-form * {
    outline: none;
    border: 1px solid rgb(221,221,221);
}