/* #session-modal{
  border: black solid 1px
}
*/

body{
  font-size: 20px;
}

#top-half{
  padding: 15px  200px 0 200px ;
  /* padding: 2vw 20vw 0 200px ; */
}

#bottom-half{
  /* padding: 15px  200px 0 200px ; */
  padding: 10px 100px;
}

img{
  border-radius: 15px;
}




