/* #session-modal{
  border: black solid 1px
}
*/

body{
  font-size: 20px;
}

#top-half{
  padding: 0px  10vw 20px 10vw ;
}

#bottom-half{
  padding: 15px  10vw 0 10vw ;
}

img{
  border-radius: 15px;
}

.container{
  margin: 15px 10vw 10px 10vw;
}

.listing-show-map{
  width: 100vw;
}

.error-message{
  color: red;
  font-weight: bolder;
}

.success-message{
  color: rgb(80, 255, 80);
  font-weight: bolder;
}

.biggest-separator{
  width: 100%;
}

.bigger-separator{
  width: 90%;
  min-width: 610px;
}

textarea{
  resize: vertical;
  padding: 10px;
  min-height: 100px;
  max-height: 200px;
  cursor: auto;
}

textarea:focus {
  background-color: rgb(240, 240, 240);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.biggest-font{
  font-size: 26px;
}

.medium-font{
  font-size: 18px;
}