/* #session-modal{
  border: black solid 1px
}
*/

body{
  font-size: 20px;
}

#top-half{
  padding: 0px  10vw 20px 10vw ;
}

#bottom-half{
  padding: 15px  10vw 0 10vw ;
}

img{
  border-radius: 15px;
}

.container{
  margin: 15px 10vw 10px 10vw;
}

.listing-show-map{
  width: 100vw;
}